/Game/bytecode.rpyb
/Game/Heiliger Kristoffer/Heiliger Kristoffer_diary
/Game/log.txt
/Game/marjams_house.rpyc
/Game/options.rpyc
/Game/saves/auto-10-LT1.save
/Game/saves/auto-1-LT1.save
/Game/saves/auto-2-LT1.save
/Game/saves/auto-3-LT1.save
/Game/saves/auto-4-LT1.save
/Game/saves/auto-5-LT1.save
/Game/saves/auto-6-LT1.save
/Game/saves/auto-7-LT1.save
/Game/saves/auto-8-LT1.save
/Game/saves/auto-9-LT1.save
/Game/saves/persistent
/Game/screens.rpyc
/Game/script.rpyc
/Game/*/*_diary
/Bilder/*